<!DOCTYPE html>
<html>
  <head>
    <title>Login error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login error</h1>
    <p>Could not authenticate you to Discord.  <a href="/">Click here</a> to try again.</p>
  </body>
</html>
