<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Logout</h1>
    <p>You have been logged out</p>
    <p><a href="/">click here</a> to log in again.</p>
  </body>
</html>
