<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= renderData.source.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/public/ovenplayer/ovenplayer.js"></script>
    <script src="/public/hls.js/hls.min.js"></script>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
      body {
        padding: 20px;
      }
      .wrapper{
        max-width: 80%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>

    <%- include('navbar', renderData); %>
    <h1><center><%= renderData.source.title %></center></h1>

    <div class="wrapper">
      <div id="player"></div>
    </div>
    <script>
      function component() {
        var player = OvenPlayer.create("player", {
          "autoStart": false,
          "autoFallback": true,
          "mute": false,
          "hlsConfig": {
            "liveSyncDuration": 0.5,
            "liveMaxLatencyDuration": 2,
            "maxLiveSyncPlaybackRate": 1.5
          },
          "sources": <%- JSON.stringify(renderData.source) %>
        });
      }
      component();
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    
<script src="/public/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
