<!DOCTYPE html>
<html>
  <head>
    <title>Unauthorized</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Unauthorized!</h1>
    <p>The user <%= username %> is unauthorized.  <a href="/">Click here</a> to try again.</p>
  </body>
</html>
